<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-KTPlay" version="0.1">
    <name>KTPlay</name>
    <description>Cordova KTPlay Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,ktplay</keywords>
    <js-module src="www/KTPlay.js" name="device">
        <clobbers target="KTPlay" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="KTPlay">
                <param name="ios-package" value="CordovaKTPlay"/>
            </feature>
        </config-file>

        <header-file src="src/ios/CordovaKTPlay.h" />
        <source-file src="src/ios/CordovaKTPlay.m" />

        <resource-file src="src/ios/KTPlaySDK/KTPlay/ktplay.bundle" />

        <header-file src="src/ios/KTPlaySDK/KTPlay/KTAccountManager.h" />
        <header-file src="src/ios/KTPlaySDK/KTPlay/KTChat.h" />
        <header-file src="src/ios/KTPlaySDK/KTPlay/KTFriendship.h" />
        <header-file src="src/ios/KTPlaySDK/KTPlay/KTLeaderboard.h" />
        <header-file src="src/ios/KTPlaySDK/KTPlay/KTPlay.h" />
        <header-file src="src/ios/KTPlaySDK/KTPlay/KTTagging.h" />
        <header-file src="src/ios/KTPlaySDK/KTPlay/KTUser.h" />

        <source-file src="src/ios/KTPlaySDK/KTPlay/libKtplay.a" framework="true" compiler-flags="-fno-objc-arc" />

        <header-file src="src/ios/KTPlaySDK/Libraries/Aspects_1.4.1/Aspects.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/Aspects_1.4.1/Aspects.m" />
        <header-file src="src/ios/KTPlaySDK/Libraries/CAEAGLLayerCategory/CAEAGLLayer+RetainedBacking.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/CAEAGLLayerCategory/CAEAGLLayer+RetainedBacking.m" compiler-flags="-fno-objc-arc" />
        <header-file src="src/ios/KTPlaySDK/Libraries/FMDB_2.5/fmdb/FMDB.h" />
        <header-file src="src/ios/KTPlaySDK/Libraries/FMDB_2.5/fmdb/FMDatabase.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/FMDB_2.5/fmdb/FMDatabase.m" compiler-flags="-fno-objc-arc" />
        <header-file src="src/ios/KTPlaySDK/Libraries/FMDB_2.5/fmdb/FMDatabaseAdditions.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/FMDB_2.5/fmdb/FMDatabaseAdditions.m" compiler-flags="-fno-objc-arc" />
        <header-file src="src/ios/KTPlaySDK/Libraries/FMDB_2.5/fmdb/FMDatabasePool.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/FMDB_2.5/fmdb/FMDatabasePool.m" compiler-flags="-fno-objc-arc" />
        <header-file src="src/ios/KTPlaySDK/Libraries/FMDB_2.5/fmdb/FMDatabaseQueue.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/FMDB_2.5/fmdb/FMDatabaseQueue.m" compiler-flags="-fno-objc-arc" />
        <header-file src="src/ios/KTPlaySDK/Libraries/FMDB_2.5/fmdb/FMResultSet.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/FMDB_2.5/fmdb/FMResultSet.m" compiler-flags="-fno-objc-arc" />
        <header-file src="src/ios/KTPlaySDK/Libraries/KTNetworking_2.6.3/KTNetworking/KTCoreNetworking.h" />
        <header-file src="src/ios/KTPlaySDK/Libraries/KTNetworking_2.6.3/KTNetworking/KTHTTPRequestOperation.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/KTNetworking_2.6.3/KTNetworking/KTHTTPRequestOperation.m" />
        <header-file src="src/ios/KTPlaySDK/Libraries/KTNetworking_2.6.3/KTNetworking/KTHTTPRequestOperationManager.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/KTNetworking_2.6.3/KTNetworking/KTHTTPRequestOperationManager.m" />
        <header-file src="src/ios/KTPlaySDK/Libraries/KTNetworking_2.6.3/KTNetworking/KTHTTPSessionManager.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/KTNetworking_2.6.3/KTNetworking/KTHTTPSessionManager.m" />
        <header-file src="src/ios/KTPlaySDK/Libraries/KTNetworking_2.6.3/KTNetworking/KTNetworkReachabilityManager.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/KTNetworking_2.6.3/KTNetworking/KTNetworkReachabilityManager.m" />
        <header-file src="src/ios/KTPlaySDK/Libraries/KTNetworking_2.6.3/KTNetworking/KTSecurityPolicy.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/KTNetworking_2.6.3/KTNetworking/KTSecurityPolicy.m" />
        <header-file src="src/ios/KTPlaySDK/Libraries/KTNetworking_2.6.3/KTNetworking/KTURLConnectionOperation.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/KTNetworking_2.6.3/KTNetworking/KTURLConnectionOperation.m" />
        <header-file src="src/ios/KTPlaySDK/Libraries/KTNetworking_2.6.3/KTNetworking/KTURLRequestSerialization.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/KTNetworking_2.6.3/KTNetworking/KTURLRequestSerialization.m" />
        <header-file src="src/ios/KTPlaySDK/Libraries/KTNetworking_2.6.3/KTNetworking/KTURLResponseSerialization.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/KTNetworking_2.6.3/KTNetworking/KTURLResponseSerialization.m" />
        <header-file src="src/ios/KTPlaySDK/Libraries/KTNetworking_2.6.3/KTNetworking/KTURLSessionManager.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/KTNetworking_2.6.3/KTNetworking/KTURLSessionManager.m" />
        <header-file src="src/ios/KTPlaySDK/Libraries/Masonry_0.6.3/MASCompositeConstraint.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/Masonry_0.6.3/MASCompositeConstraint.m" />
        <header-file src="src/ios/KTPlaySDK/Libraries/Masonry_0.6.3/MASConstraint+Private.h" />
        <header-file src="src/ios/KTPlaySDK/Libraries/Masonry_0.6.3/MASConstraint.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/Masonry_0.6.3/MASConstraint.m" />
        <header-file src="src/ios/KTPlaySDK/Libraries/Masonry_0.6.3/MASConstraintMaker.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/Masonry_0.6.3/MASConstraintMaker.m" />
        <header-file src="src/ios/KTPlaySDK/Libraries/Masonry_0.6.3/MASLayoutConstraint.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/Masonry_0.6.3/MASLayoutConstraint.m" />
        <header-file src="src/ios/KTPlaySDK/Libraries/Masonry_0.6.3/MASUtilities.h" />
        <header-file src="src/ios/KTPlaySDK/Libraries/Masonry_0.6.3/MASViewAttribute.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/Masonry_0.6.3/MASViewAttribute.m" />
        <header-file src="src/ios/KTPlaySDK/Libraries/Masonry_0.6.3/MASViewConstraint.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/Masonry_0.6.3/MASViewConstraint.m" />
        <header-file src="src/ios/KTPlaySDK/Libraries/Masonry_0.6.3/Masonry.h" />
        <header-file src="src/ios/KTPlaySDK/Libraries/Masonry_0.6.3/NSArray+MASAdditions.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/Masonry_0.6.3/NSArray+MASAdditions.m" />
        <header-file src="src/ios/KTPlaySDK/Libraries/Masonry_0.6.3/NSArray+MASShorthandAdditions.h" />
        <header-file src="src/ios/KTPlaySDK/Libraries/Masonry_0.6.3/NSLayoutConstraint+MASDebugAdditions.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/Masonry_0.6.3/NSLayoutConstraint+MASDebugAdditions.m" />
        <header-file src="src/ios/KTPlaySDK/Libraries/Masonry_0.6.3/View+MASAdditions.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/Masonry_0.6.3/View+MASAdditions.m" />
        <header-file src="src/ios/KTPlaySDK/Libraries/Masonry_0.6.3/View+MASShorthandAdditions.h" />
        <header-file src="src/ios/KTPlaySDK/Libraries/Masonry_0.6.3/ViewController+MASAdditions.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/Masonry_0.6.3/ViewController+MASAdditions.m" />
        <header-file src="src/ios/KTPlaySDK/Libraries/OAuth/NSData+Base64.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/OAuth/NSData+Base64.m" compiler-flags="-fno-objc-arc" />
        <header-file src="src/ios/KTPlaySDK/Libraries/OAuth/OAuth+Additions.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/OAuth/OAuth+Additions.m" compiler-flags="-fno-objc-arc" />
        <header-file src="src/ios/KTPlaySDK/Libraries/OAuth/OAuthCore.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/OAuth/OAuthCore.m" compiler-flags="-fno-objc-arc" />
        <header-file src="src/ios/KTPlaySDK/Libraries/OpenUDID/OpenUDID.h" />
        <source-file src="src/ios/KTPlaySDK/Libraries/OpenUDID/OpenUDID.m" compiler-flags="-fno-objc-arc" />

        <framework src="CoreData.framework" />
        <framework src="Photos.framework" weak="true" />
        <framework src="OpenGLES.framework" />
        <framework src="UIKit.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="MobileCoreServices.framework" />
        <framework src="ImageIO.framework" />
        <framework src="Foundation.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="AssetsLibrary.framework" />
        <framework src="StoreKit.framework" weak="true" />
        <framework src="CoreTelephony.framework" />
        <framework src="CoreText.framework" />
        <framework src="MessageUI.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="AddressBook.framework" />
        <framework src="Accounts.framework" />
        <framework src="Social.framework" />
        <framework src="MediaPlayer.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="CoreMedia.framework" />

        <framework src="libsqlite3.dylib" />
        <framework src="libz.dylib" />
        <framework src="libz.1.2.5.dylib" />
        <framework src="libstdc++.6.0.9.dylib" />
        <framework src="libresolv.dylib" />
    </platform>
</plugin>
