

/* 
    This text file was create automatic by localString.py 
        create time :2016-01-14(Thursday) 13:50:21
        create by :qinxuliang
*/



"HD" = "HD";
"SD" = "SD";
"accept" = "Accept";
"accept_friendrequest_success" = "Accepted";
"access_appstore" = "Connecting to App Store...";
"account_adm" = "Adm";
"active_players" = "Active Players";
"add" = "Add";
"add_as_friend" = "Add friend";
"add_friends" = "Add Friends";
"admin" = "Admin";
"all_players" = "All Players";
"all_topics" = "All Discussions";
"app_version_support" = "Sorry. The app version not support video.";
"back" = "Back";
"bind_email" = "Email";
"bind_phonenumber" = "Mobile Number";
"binding_email_to" = "Binding your email address to reset password, get reward, and use of personalized features,You cannot change the email address once you save set up.";
"binding_number_password_to" = "Binding your mobile number and set a login password, to reset password, get reward, and use of personalized features.";
"binding_number_to" = "Binding your mobile number to reset login password, get reward, and use of personalized features.";
"birthday" = "Birthday";
"block_chat" = "Block in chat";
"blocked_account" = "Your account is blocked";
"blocked_list" = "Blocked List";
"blocked_list_placeholder" = "You haven't blocked anyone";
"camera" = "Camera Roll";
"campaign_remain" = "Remain: ";
"campaign_rewards" = "Rewards: ";
"campaign_share_Collections" = "[Campaign] Share and earn rewards！";
"campaign_share_topic" = "[Campaign] Share and earn rewards！";
"can_not_video" = "Currently you can not upload any video in your content.";
"cancel" = "Cancel";
"cannot_like_yourself" = "You cannot Like your own content";
"cannot_report_yourself" = "Can't report your own content";
"change_gender" = "Edit Gender";
"change_next_group" = "Refresh";
"change_password" = "Change";
"change_signature" = "Change a custom video signature";
"chat" = "Chat";
"chat_now" = "Chat Now!";
"chat_session_placeholder_description" = "Instantly communicate with other players";
"chat_session_placeholder_title" = "In-Game Chat!";
"claim" = "Claim";
"claimed" = "Claimed";
"clear" = "Clear";
"clear_search_history" = "Clear History";
"click_email_signature" = "Complete your email address";
"click_number_signature" = "Verify your mobile number";
"collection" = "Collections";
"community" = "Community";
"complete_email" = "Enter your email";
"complete_profile" = "Complete your profile settings so others can know you better.";
"complete_security_setting" = "Submit email to retrieve password";
"complete_user_profile" = "Player settings";
"confirm" = "OK";
"confirm_clear_search" = "Are you sure want to clear search history? ";
"confirm_to_complete_security_setting" = "Create";
"confirm_to_logout" = "No Thanks";
"confirm_yes" = "Yes";
"connection_failed" = "Your network is unstable";
"connection_timeout" = "Your network is unstable";
"contactbook_error_one" = "Allowed %@ to access your Contacts so you can play with your friends together";
"contacts" = "Contacts";
"contacts_friends" = "Contacts";
"contacts_players_prompt" = "Check out which players already in your contacts";
"content_already_removed" = "Content removed";
"copy" = "Copy";
"create_nickname" = "Create nickname";
"create_reply" = "Reply";
"create_signature" = "Create a video signature";
"create_topic" = "Topic";
"create_topic_success" = "Content sent";
"create_username" = "Create username";
"create_username_tip" = "The username can be modified only once, You can use your username to login KTplay.";
"delete" = "Delete";
"delete_favorite" = "Delete favorite";
"delete_friend" = "Unfriend";
"deny_friendrequest_success" = "Declined";
"description" = "Error Description";
"distance_kilometer" = "km";
"distance_meter" = "m";
"distance_pattern" = "%@%@";
"done" = "Done";
"drafts" = "Drafts";
"edit" = "Edit";
"email_already_registered" = "This email address is already registered on KTplay, please try to use another email address.";
"email_or_username" = "Enter your email or username";
"email_unverified" = "Unverified";
"enable_location_service" = "Go to your phone settings: \"Settings > Privacy > Contacts\"  to grant address book access";
"enable_microphone_permission" = "Allow this App to access your microphone form device menu: \"Settings\"";
"enter" = "Enter";
"enter_email" = "Enter your email and set a password.";
"enter_email_reward" = "to get your reward,enter your email,You cannot change the email address once you save set up.";
"enter_number" = "Enter your mobile number, we will send a verification code for you.";
"error" = "Error";
"error_150001" = "Error";
"error_150002" = "Error";
"error_150003" = "Error";
"error_150004" = "Error";
"error_150005" = "Error";
"error_150101" = "Error";
"error_150102" = "Error";
"error_150103" = "This content no longer exists";
"error_150104" = "Please log in again";
"error_150105" = "You has been blacklisted";
"error_150106" = "You posted the same content before";
"error_150107" = "You are posting content too quickly";
"error_150108" = "Your post contains prohibited language";
"error_150201" = "Account does not exist";
"error_150202" = "Incorrect password";
"error_150203" = "Invalid email address";
"error_150204" = "The password is 6-18 bit English or digital";
"error_150205" = "This account has already been authorized";
"error_150206" = "SNS Error";
"error_150207" = "Missing Username";
"error_150208" = "This username is no longer available";
"error_150209" = "Username must be between 2-15 characters";
"error_150210" = "Current password is invalid";
"error_150211" = "Account is already in use";
"error_150213" = "Registration failed. Please try again";
"error_150214" = "Your current and new password cannot be the same";
"error_150215" = "User name contain prohibited language";
"error_150216" = "Send email failed";
"error_150217" = "Incorrect email format, please input again";
"error_150221" = "Username can not be include space";
"error_150222" = "The user name must be 2-30 English or digital";
"error_150223" = "Modify the nickname is not supported";
"error_150303" = "Content exceeds character limit";
"error_150304" = "You cannot delete a discussion with replies";
"error_150305" = "You cannot add more screenshots";
"error_150306" = "Upload image format is incorrect";
"error_150307" = "You cannot like your own content";
"error_150308" = "You cannot remove content created by other users";
"error_150309" = "You have already liked this content";
"error_150322" = "Your reply exceeds character limit";
"error_150324" = "Number of images in your reply exceeds image limit";
"error_150325" = "Image reply upload format is incorrect";
"error_150326" = "You cannot like your own reply";
"error_150327" = "You cannot remove replies posted by other users";
"error_150328" = "You have already liked this reply";
"error_150402" = "Image caption exceeds character limit";
"error_150403" = "Upload image format is incorrect";
"error_150404" = "You cannot like your own images";
"error_150405" = "You have already liked this image";
"error_150422" = "Your reply to this image exceeds character limit";
"error_150423" = "You cannot remove image replies posted by other users";
"error_150501" = "You have already reported this content";
"error_150502" = "You have already reported this image";
"error_150701" = "You can't send request to yourself";
"error_150702" = "You are friends";
"error_150703" = "You've maxed out number of friends allowed";
"error_150704" = "This person&apos;s number of friends has reached the maximum limit";
"error_150705" = "You&apos;ve already invited him";
"error_150706" = "He/She is not your friend";
"error_150801" = "You have already claimed your reward";
"error_150802" = "The rewards was not found";
"error_integration" = "Integration Error";
"expansion_centent" = "Expansion";
"failed_to_record" = "Failed to record";
"favorite" = "Favorites";
"favorite_success" = "Favorite success";
"feature_disabled" = "This function has been disabled %@";
"female" = "Female";
"field_username" = "Username:";
"forget_password" = "Forgot Password？";
"friend_requests" = "Friend Requests";
"friend_requests_sent" = "Friend requests sent ";
"friend_requst_placeholder" = "I would like to add you as a friend.";
"friend_updates" = "Friends' Updates";
"friendrequest_waitfor_acception" = "Request Sent";
"friends" = "Friends";
"friends_from_other_games" = "Friends from other games ";
"friends_playing_game" = "Playing %@";
"friends_symbol" = "Friends";
"friendship_created_session_for_receiver" = "You are now friends with %@. Chat Now!";
"friendship_created_session_for_sender" = "We are friends now! Let's Chat!";
"gender" = "Gender";
"get_location_failed" = "Failed to fetch locations information";
"get_location_permission" = "Allowed %@ to access your location so you can find players nearby.";
"get_verification_code" = "Request";
"go" = "Go";
"hold_to_record" = "Hold to Talk";
"hot_searches" = "Hot searches";
"i_know" = "OK";
"in_process" = "In proces...%@";
"in_review" = "In-Review";
"in_reviewing" = "In-Review…";
"inbox" = "Inbox";
"incorrect_phonenumber" = "Please input the correct mobile number";
"incorrect_server_url" = "Server address increcct";
"inorrect_verification_code" = "Verification code incorrect";
"input_email" = "Enter your email address";
"input_newpassword" = "New Password";
"input_nickname" = "Create a nickname";
"input_oldpassword" = "Current Password";
"input_redeem_code" = "Enter Redeem Code";
"input_username" = "Enter your username,bit English or digital";
"invalid_email_format" = "Incorrect email format";
"invite" = "Invite";
"invite_frinds_from_sns" = "Invite Friends from SNS";
"invite_more_players" = "Invite Others";
"invite_sns_friends_placeholder" = "Play the %@ with me. My nickname is:%@.";
"invite_to_be_friend" = "Send friends requests";
"invited" = "Request Sent";
"ktplay_slogan" = "TIPS·Q&A·FRINEDS·REWARDS";
"lastest_reply" = "Most recent reply: %@";
"like" = "Like";
"like_success" = "Liked";
"likes" = "Likes";
"likes_count" = "Likes %@";
"limited_account_promption" = "Account suspended, will reactivate at %@";
"link_login_with_phonenumber" = "Log In with Mobile Number";
"link_register_with_phonenumber" = "Sign Up with Mobile Number";
"link_register_with_username" = "Sign Up with a Username";
"loadmore" = "Release for more content";
"loadmore_pulling" = "Release for more content";
"locked" = "Locked";
"login" = "Log In";
"login_and_claim" = "Log In First";
"login_expired" = "Your account has been log out, please login again";
"login_failed" = "Login Failed";
"login_first" = "Sorry. You need to login first.";
"login_or_register" = "Sign Up or Log In";
"login_success" = "%@. Welcome!";
"login_to_get_friends_updates" = "Log in to get friends' updates!";
"login_to_ktplay" = "Login to KTplay";
"login_to_play_with_friends" = "Be Friends with Other Players!";
"login_welcome" = "%@. Welcome!";
"login_with_exists_account" = "Already have an account? Log in now";
"login_with_other_accounts" = "Use Another Account";
"login_with_phonenumber" = "Log In";
"login_with_selected_account" = "Select Account";
"login_with_sns" = "Log in with";
"login_with_username" = "Log In with your Username";
"logout" = "Log out";
"male" = "Male";
"manage_alert_highlight_text" = "Are you sure want to highlight the content?";
"manage_alert_highlight_title" = "Highlight Content";
"manage_alert_insert_mainpage_text" = "Are you sure want to insert the topic to main page?";
"manage_alert_insert_mainpage_title" = "Recommend content";
"manage_alert_lock_text" = "Are you sure want to lock the content?";
"manage_alert_lock_title" = "Lock Content";
"manage_alert_move_text" = "Are you sure want to move the content?";
"manage_alert_move_title" = "Move content";
"manage_alert_quarantine_text" = "Are you sure want to quarantine the content?";
"manage_alert_quarantine_title" = "Quarantine Content";
"manage_alert_top_text" = "Are you sure want to pin the content to the topic?";
"manage_alert_top_title" = "Pin to top";
"manage_alert_unhighlight_text" = "Are you sure want to remove the content from the highlight?";
"manage_alert_unhighlight_title" = "Remove from highight";
"manage_alert_unlock_text" = "Are you sure want to unlock the content?";
"manage_alert_unlock_title" = "Unlock content";
"manage_alert_untop_text" = "Are you sure want to remove the content from top list?";
"manage_alert_untop_title" = "Remove from top";
"manage_button_highlight" = "Highlight";
"manage_button_lock" = "Lock";
"manage_button_quarantine" = "Quarantine";
"manage_button_top" = "Top";
"manage_button_unhighlight" = "Cancel Highlight";
"manage_button_unlock" = "Unlock";
"manage_button_untop" = "Un Top";
"manage_info" = "Attention: You cannot operate the content created by Game Official Account.";
"manage_info_highlight" = "You can mark high value content and collect it to the highlight list.";
"manage_info_lock" = "The topic cannot be replied when you lock it and it will down to the buttom of the topics list when the new content be posted.";
"manage_info_main_page_insert" = "Insert the topic to the main page.";
"manage_info_move_topic" = "You can move the topic to any catalog.";
"manage_info_quarantine" = "The topic will not shown in the list when you quarantine it.";
"manage_info_top" = "The topic will shown in the top list when you toped it.";
"manage_option_game_video" = "Populars Videos";
"manage_option_hot_topics" = "Hottest Discussions";
"manage_option_recommended_photos" = "Recommended Photos";
"manage_title_main_page_insert" = "Insert to mainpage";
"manage_title_manage" = "Manage";
"manage_title_move_topic" = "Move";
"max_of_photos" = "Select a maximum of  %@ photos";
"me" = "Me";
"mobile_already_registered" = "This mobile number is already registered on KTplay, please try to use another mobile number.";
"more" = "More";
"more_collections" = "More Collections";
"more_options" = "More Options";
"more_replies" = "%@ more replies";
"moregames" = "More Games";
"most_active_players" = "Most Active Players";
"most_liked_players" = "Most Liked Players";
"my_friends" = "Friends";
"myprofile_no_likes_received" = "Oops! Nobody \"Liked\" you...";
"myprofile_no_topics_created" = "You haven't created any discussion";
"nearby" = "Nearby";
"nearby_players_propmt" = "Search for nearby players";
"netwaok_unstable" = "Your network is unstable";
"network_unavailable" = "Your network is unstable";
"new_chat" = "Choose Friends";
"new_friend_invataion" = "Sent you a friends request";
"nickname" = "Nickname";
"no_chat_friends" = "We can’t find friends for you to chat with";
"no_draft_yet" = "No draft yet";
"no_like_yet" = "No like yet";
"no_messages" = "No messages";
"no_more_collections" = "No more collections";
"no_more_drafts" = "No more drafts";
"no_more_like" = "No more likes";
"no_more_reply" = "No more replies";
"no_more_sns_friends_playing" = "No new friends from %@";
"no_more_topic" = "No more topics";
"no_more_update_yet" = "No more updates";
"no_permission_to_access_album" = "Allowed this game access to your photo album";
"no_reply_yet" = "No reply yet";
"no_results" = "No results";
"no_signature" = "NO signature";
"no_topic_yet" = "No topic yet";
"no_update_yet" = "No update yet";
"no_video" = "No video yet";
"no_wifi" = "You currently have contents in the sending list, continue sending?";
"not_binding" = "Not Set";
"not_in_group" = "You're not a part of this group";
"not_setting" = "N/A";
"not_support_video" = "Sorry, we don't currently support upload videos";
"notice_email_signature" = "To create a personalized video signature, enter your email. ";
"notice_number_signature" = "To create a personalized video signature, Verify your mobile number.";
"on_top" = "Top";
"online_players" = "Playing";
"original_reply" = "Original reply: ";
"original_topic" = "Original topic: ";
"other_player" = "Player";
"other_popular_games" = "Other Popular Games";
"password" = "Password";
"password_placeholder" = "Password 6-18 characters";
"pattern_blocked_user" = "(Blocked) %@";
"pattern_seconds" = "%@\"";
"pattern_updates_reply" = "reply: %@";
"phone_number" = "Mobile number";
"player_playing_games" = "Also playing";
"players_already_claimed" = "Players that have viewed this";
"players_around_you" = "Players nearby";
"players_nearby" = "Players Nearby";
"players_topics" = "Discussions";
"post_quickly" = "You are posting content too quickly";
"privacy" = "Privacy";
"profile_complete_setting" = "Tips: Find account via Email or Phone";
"promoted" = "Promoted";
"promoted_download" = "Download";
"publish_content_placeholder" = "Say something…";
"pullrefresh_last_updated" = "Last updated";
"pullrefresh_loading" = "Updating...";
"pullrefresh_release" = "Release to update";
"pullrefresh_update" = "Update";
"quick_login" = "Log in with SNS Account";
"quicklaunch_netlogged" = "You have not logged in, please login game first.";
"quicklaunch_register" = "To join the community, register or log in to the game first!";
"quicklaunch_relogin" = "Click below to connect again.";
"read_more" = "See Detail";
"received_likes" = "Likes %@";
"recommended" = "Recommended";
"recommended_friends" = "Recommended Friends";
"recommended_topics" = "Recommended";
"record_error_short" = "Too short!";
"redeem" = "Redeem";
"redeem_code" = "Redeem Code";
"register" = "Sign Up";
"register_with_phonenumber" = "Sign Up";
"registerview_email" = "Create a Nickname";
"release_to_cancel" = "Release to Cancel";
"release_to_send" = "Release to Send";
"relogin" = "Re-login";
"remain_format_day" = "%@d";
"remain_format_day_hour" = "%@d %@h";
"remain_format_hour" = "%@h";
"remain_format_min" = "%@m";
"replay_pattern" = "Reply: %1$s";
"replies_count" = "Replies %@";
"reply_and_likes" = "Replies %@ | Likes %@";
"reply_details" = "Reply details";
"reply_me" = "Reply you";
"reply_notify" = "Notifications";
"reply_success" = "Content sent";
"reply_to" = "Reply to %@";
"report" = "Report";
"report_content" = "Report Abuse";
"report_submitted_description" = "Your report has been sumitted. We'll review and send you the result. Thanks for your report!";
"report_success" = "Report Submitted";
"request_failed" = "Sorry. Loading failed…";
"request_img_failed" = "Download image failed";
"resend" = "Resend";
"resend_email" = "Resend an Verification Email ";
"reset" = "Reset";
"reset_enter_username_with_email" = "Enter your email or username";
"reset_enterusername" = "Reset your password via the username or email.";
"reset_password" = "Reset Password";
"reset_password_email_failure" = "Sorry. Account %@ have not bing any email address. You can not reset your password for now.";
"reset_password_failure" = "Sorry. Account %@ have not bing any mobile number or email address. You can not reset your password for now.";
"reset_password_with_email" = "Find your account via email";
"reset_password_with_phonenumber" = "Reset your password via mobile number";
"resetpassword_email_sent" = "Please check inbox for your password－reset email";
"retrieve_password" = "Find KTplay account";
"reward" = "Rewards";
"reward_claimed" = "Claimed!";
"reward_expired" = "Sorry！Reward has expired. Thank you for your participation!";
"rule_email_or_nickname" = "Enter email or username, username can have upper and lowercase letters, and numbers";
"rule_nickname_length" = "Nickname must be 1-128 characters in length.";
"rule_password" = "Password must be between 6-18 characters";
"rule_password_character" = "Numbers, upper and lower case letters only";
"rule_username_character" = "Username can have upper and lowercase letters, and numbers";
"rule_username_length" = "2-30 characters";
"save_draft" = "Saved draft in your Profile.";
"save_gallery" = "Save image to gallery";
"search" = "Search";
"search_friend_noresults" = "No results";
"seconds_countdown" = "%@ S";
"security_verification" = "Security Verification";
"security_verification_failure_times" = "Verification failed %@/%@";
"security_verification_pass" = "Verification successful";
"security_verification_prompt" = "The one of following games is you ever played a KTplay platform game, please select it to confirm your identity.";
"see_more_replies" = "See more replies";
"select_albums" = "Select an Album";
"select_country" = "Select Your Region";
"select_friend" = "Choose Friends";
"select_photo" = "Choose a Photo";
"select_report_reason" = "Select a reason";
"select_topic_category" = "Select a category";
"select_video" = "Select video";
"send" = "Send";
"send_email" = "Send email success";
"send_email_limit" = "You have already sent a email recently. Please waiting for %@ min";
"send_invitation" = "Add friend";
"sending" = "Sending";
"server_error" = "Server Error";
"set_login_password" = "Set a login password for your account.";
"set_number_password" = "To create a personalized video signature, Verify your mobile number via SMS and set a password for your account.";
"set_password" = "Change  Password";
"setting" = "Settings";
"setting_avatar" = "Profile Photo";
"setting_baseinfo" = "My Profile";
"setting_receive_new_message" = "Notifications";
"setting_receive_new_message_description" = "Enable or disable in-game notification";
"setting_receive_sounds" = "Sounds";
"setting_receive_sounds_description" = "Enable or disable sounds";
"setting_security" = "Security Settings";
"share_failed" = "Share error";
"share_success" = "Shared";
"share_to_sns" = "Share";
"sign_up_ktplay" = "Sign Up";
"sign_up_now" = "Sign up";
"signature" = "Video Signature";
"skip" = "Skip";
"skip_security_verification" = "Skip the Verification";
"slide_up_to_cancel" = "Slide up to cancel";
"sms_canceled" = "Canceled";
"sms_error" = "Failed";
"sms_invitation_placeholder" = "Check out %@ and let's play together. Download here: %@. My nickname is: %@";
"sms_sucess" = "Sent";
"sns" = "SNS";
"sns_authorize_failed" = "Authorization failed";
"sns_friends_limitation" = "Based on Social Platform limited, we can get a part of your SNS friends only.";
"sns_friends_playing" = "Friends playing %@";
"sns_share_placeholder" = "I have shared a discussion in %@, %@.";
"space" = " ";
"suggestion" = "Solution";
"system_support" = "Sorry. The current system version not support video.";
"t_email_signature" = "register";
"t_number_signature" = "register";
"take_screenshot" = "Take a Screenshot";
"terms_agreement" = "by logging or registration you're agreeing to KTplay <a href='Terms4Service'><font color='#007AFF'>Terms and Privacy</font></a>";
"terms_and_privacy" = "Terms and Privacy";
"time_day" = "day";
"time_format_hour" = "%@h";
"time_format_justnow" = "Just now";
"time_format_last_year" = "dd-MM-yyyy";
"time_format_minutes_ago" = "%@m";
"time_format_month_day_hour_minute" = "MM-dd HH:mm";
"time_format_year_month" = "MM-yyyy";
"time_format_year_month_day" = "MM-dd-yyyy";
"time_format_yesterday" = "Yesterday";
"time_month" = "month";
"time_year" = "year";
"tip_addfriends_now" = "Find Other Players Like You";
"tip_addfrinds_from_different_types" = "Interact, share and play with other players now!";
"tip_bind_email" = "Enter your email to enable log in and password resets";
"tip_change_nickname" = "This name is used for other players to find you.";
"tip_chat_service_issue" = "Service busy. Please retry later...";
"tip_chattype_audio" = "Voice";
"tip_chattype_image" = "Image";
"tip_message_blocked" = "The message was rejected";
"tip_reply_locked" = "Discussion locked";
"tip_resetpassword_with_email" = "An email has been sent to %@ for you to reset your password. Please check your inbox.";
"tip_select_chat_friend" = "Your friends that are using older versions of KTplay without the chat feature are not displayed here.";
"to_enter_email" = "To create a personalized video signature, enter your email,You cannot change the email address once you save set up.";
"to_verify_number" = "To create a personalized video signature, Verify your mobile number via SMS.";
"top_collections" = "Top Collections";
"topic_count" = "Topic %@";
"topic_details" = "Discussion";
"topic_share" = "Recent topic shared from %@";
"topic_task_limit" = "At the same time can only upload %@ contents, saved drafts in your Profile.";
"topics" = "Discussions";
"try_again" = "Try It Again";
"try_verify_email_signature" = "First time free!<a href='Terms4Service'><font color='#007AFF'> Complete your email address </font></a>to continue using it.";
"try_verify_number_signature" = "First time free! <a href='Terms4Service'><font color='#007AFF'> Verify your mobile number</font></a> to continue using it.";
"unable_to_record" = "Unalbe to Record";
"unblock" = "Unblock";
"unsupported_chat_message_type" = "Current version of KTplay does not support to display this content";
"update_failed" = "Failed";
"update_success" = "Done";
"updates_created_topic" = "Created";
"updates_liked_content" = "Like";
"updates_liked_reply" = "Like";
"updates_replied_topic" = "Replied";
"upload_failed_part" = "You have %@ contents upload failed, saved drafts in your Profile.";
"upload_from_album" = "Choose from Photos";
"user_profile" = "Profile";
"user_received_likes" = "Likes";
"username" = "Username";
"userprofile_no_likes_received" = "Oops! Nobody \"Liked\" this player...";
"userprofile_no_topics_created" = "This player has 0 discussions";
"users_friends" = "Friends";
"using_test" = "Using test";
"v_email_signature" = "Complete your email address";
"v_number_signature" = "Verify your mobile number";
"verification_code" = "Verification code";
"verification_code_sent" = "We have sent you the verification code via text message";
"verification_email" = "Verification email sent. Please verify your email address in next 24 hours to access certain KTplay features.";
"verification_email_send" = "We will send a verification email to you. Please verify your email address in next 24 hours to access certain KTplay features.";
"verify_confirm_no" = "No Thanks";
"verify_confirm_yes" = "Yes";
"verify_email_signature" = "<a href='Terms4Service'><font color='#007AFF'>Complete your email address</font></a> to continue using it. ";
"verify_mobile" = "To get your reward, Verify your mobile number via SMS.";
"verify_mobile_password" = "To get your reward, Verify your mobile number via SMS and set a password for your account.";
"verify_number_signature" = "<a href='Terms4Service'><font color='#007AFF'>Verify your mobile number</font></a> to continue using it.";
"video_and_images" = "You can not upload video and images at the same time.";
"video_exceed" = "Sorry. Video cannot exceed%@MB in size or%@min in duration.";
"video_exceed_to" = "Sorry. Video had to be under %@MB and %@ mins long.";
"video_less" = "Sorry. Video cannot less than %@ sec in duration.";
"video_processed" = "Video processing…";
"video_signature_title" = "Signature";
"video_size" = "Video size %@MB. Your video content will be publish once it approved.";
"videos" = "Videos";
"views" = "Views";
"vote" = "Vote";
"vote_expired" = "Voting has expired!";
"vote_is_ongoing" = "Voting is ongoing! %@ players have voted";
"vote_now" = "Vote now!";
"vote_thank" = "Thank you for your vote!";
"warning_block_chatuser" = "Are you sure want to block %@ in chat? ";
"warning_clear_all_messages" = "Clear all messages?";
"warning_complete_email" = "Would you like to enter an email to complete your security settings?";
"warning_complete_login_method" = "Would you like to create a cross-games KTplay account so you can interact with players in other games?";
"warning_complete_phonenumber" = "Would you like to bind your mobile number to complete your security settings?";
"warning_delete_content" = "Delete content?";
"warning_delete_friend" = "Are you sure want to unfriend %@ ? ";
"warning_has_integration_issue" = "Some issues to be resolved";
"warning_report_reply" = "Are you sure you want to report this?";
"warning_retrieve_password_after_login_failure" = "Log in failed";
"warning_same_oldpassword_and_newpassword" = "Your current and new password cannot be the same";
"warning_security_verification_times" = "If the verification failed twice, you need to wait 24 hours before the next verification.";
"warning_unblock_chatuser" = "Are you sure want to unblock %@ in chat? ";
"warning_using_testapp" = "You are operating a test app";
"whats_hot" = "What's Hot";
"you_might_like" = "We guess you fancy";
