<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>error_text_color</key>
	<string>#EA9915</string>
	<key>theme_main_color</key>
	<string>#29B6F6</string>
	<key>point_color</key>
	<string>#FF0000</string>
	<key>text_color_black</key>
	<string>#000000</string>
	<key>text_color_gray</key>
	<string>#999999</string>
	<key>text_color_white</key>
	<string>#FFFFFF</string>
	<key>background_color_clear_black</key>
	<string>#99000000</string>
	<key>upload_background_color_clear_black</key>
	<string>#E6000000</string>
	<key>background_new_color_clear_black</key>
	<string>#254959</string>
	<key>background_color_clear_white</key>
	<string>#E6FFFFFF</string>
	<key>background_color_gray</key>
	<string>#F7F7F7</string>
	<key>split_line_color</key>
	<string>#EEEEEE</string>
	<key>title_bar_split_line_color</key>
	<string>#BDBDBD</string>
	<key>background_color_main_live</key>
	<string>#254959</string>
</dict>
</plist>
