<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>signature</key>
	<array>
		<string>default</string>
		<string>kt_music</string>
		<string>kt_fire</string>
		<string>kt_bubble</string>
		<string>kt_cloud</string>
	</array>
</dict>
</plist>
